.puntos-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.puntos-modal {
  background: #111;
  color: white;
  width: 420px;
  padding: 25px;
  border-radius: 12px;
  font-family: "Netflix Sans", sans-serif;
  text-align: center;
  box-shadow: 0px 0px 25px rgba(255, 0, 0, 0.4);
  animation: zoomIn 0.25s ease-out;
}

.puntos-modal h2 {
  font-size: 26px;
  margin-bottom: 10px;
  color: #e50914;
  font-weight: bold;
}

.puntos-modal h3 {
  margin-top: 15px;
  font-size: 18px;
  color: #ffffff;
}

.lista-premios {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  text-align: left;
}

.lista-premios li {
  background: #1a1a1a;
  padding: 10px;
  margin: 6px 0;
  border-radius: 6px;
  border-left: 4px solid #e50914;
}

.btn-cerrar {
  margin-top: 18px;
  background: #e50914;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-cerrar:hover {
  background: #f6121d;
  transform: scale(1.05);
}

/* Animación suave */
@keyframes zoomIn {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
